@font-face {
  font-family: 'Markpro';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local('FreightDisplay'),url(./MarkPro.woff2);
}

@font-face {
  font-family: 'Formulacondensed';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local('FreightDisplay'),url(./FormulaCondensedBold.woff2);
}

@font-face {
  font-family: 'Formulacondensed';
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src: local('FreightDisplay'),url(./FormulaCondensedLight.woff2);
}

@font-face {
  font-family: 'Formulacondensed';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local('FreightDisplay'),url(./FormulaCondensedRegular.woff2);
}
